*, html, body, canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #333;
}
div.controls {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
button {
  /* all: unset; */
  display: inline-flex;
  height: auto;
  width: auto;
  padding: 8px;
  margin: 8px;
  backgroud: #333;
  color: white;
  font-size: 20px Arial;
}
