*, html, body, canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #282828;
}
div.controls {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
button, label {
  /* all: unset; */
  display: inline-flex;
  height: auto;
  width: auto;
  padding: 8px;
  margin: 8px;
  backgroud: #282828;
  color: white;
  font: 22px Arial;
  font-weight: bold;
}

label {
  margin: 0;
}
span.speed {
  border: 2px inset #ccc;
  height: 45px;
  display:inline-flex;
  align-items: center;
}
input#speed {
  max-width: 160px;
  margin-right: 8px;
}
