*, html, body, canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #282828;
}
div.controls {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
button, label {
  /* all: unset; */
  display: inline-flex;
  height: auto;
  width: auto;
  padding: 8px 16px;
  margin: 8px;
  backgroud: #282828;
  color: white;
  font: 16px Arial;
  font-weight: bold;
}

label {
  margin: 0;
}
span.speed {
  border: 2px inset #ccc;
  /* height: 45px; */
  display:flex;
  align-items: center;
  justify-content:center;
  margin: 0px 15px;
  padding: 3px 4px;
}
input#speed {
  max-width: 120px;
  margin-right: 8px;
}
